.formulario {
  margin-left: 30px;
  margin-right: 30px;
  right: 100px;
  padding-left: 10px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  width: 500px;
  height: 100hv;
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: 400;

  border-radius: 50px;
  border-left: 50;
}
.selectTipo {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  align-self: left;
}
.selecttiposelec {
  margin-bottom: 10px;
  margin-left: 10px;
  align-self: left;
}
.selectTypes__text {
  font-size: 20px;
}

.boton {
  color: rgb(255, 255, 255);

  margin-top: 10px;
  margin-left: 0px;
  font-size: 19px;
  padding: 3px 10px;
  background: radial-gradient(
    circle,
    rgb(190, 25, 39) 100%,
    rgb(190, 25, 25) 100%
  );
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.3s;
}

.boton:hover {
  transform: scale(1.1);
}

.formulariotypo {
  background-color: rgba(0, 0, 0, 0.5);
  color: antiquewhite;
  display: inline-flex;

  position: center;
  align-items: flex-end;
  align-items: flex-end;
  padding: 1px;
}

.fuente {
  color: aliceblue;
  background-color: black;
}
.error {
  color: rgb(233, 217, 217);

  letter-spacing: 1px;
}

.fijo {
  position: relative;
}

.typocontainer {
  margin-bottom: 10px;
}
.title {
  margin-top: 0px;
  margin-bottom: 100px;
  position: relative;
  top: 40px;

  font-size: 50px;
  color: rgb(76, 78, 192);
  text-shadow: 5px 5px 1px rgb(32, 18, 18);
  font-size: 3em;
}
